@media (max-width: 320px) {
  .burger__menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 37px;
    cursor: pointer;
    margin: 23px 0 0 auto;
    background-color: rgb(0, 0, 0);

    & span,
    &::before,
    &::after {
      width: 17px;
      height: 2px;
      background: #fff;
      transition: all .5s ease-in-out;
      position: absolute;
      margin: 0 auto;
    }

    &::before,
    &::after {
      content: '';
    }

    &::before {
      transform: translateY(-4px);
    }

    &::after {
      transform: translateY(4px);
    }
  }

  .burger__menu.open {
    & span {
      opacity: 0;
      transition: 0.5s;
    }

    &::before {
      transform: rotate(-45deg);
    }

    &::after {
      transform: rotate(45deg);
    }
  }
}
