.page__footer {
  width: 100%;

  @extend %flex-center;
  flex-direction: column;
  background-color: #000;
}

.get__in__touch {
  margin-top: 66px;
  margin-bottom: 22px;
  font-weight: 800;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;

  color: #FEFEFE;

  &:after, &:before {
    content: " - "
  }
}

.footer__description {
  display: block;
  max-width: 684px;

  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #B9B9B9;

  margin-bottom: 37px;
}

.social__icons {
  @extend %flex-center;
  margin-bottom: 34px;
}

.social__item {
  margin-right: 6px;

  &:last-child {
    margin-right: 0;
  }
}

.fa-rss {
  @include iconCircleBorder(#F8902E);
}

.fa-facebook-f {
  @include iconCircleBorder(#39599F);
}

.fa-twitter {
  @include iconCircleBorder(#45B0E3);
}

.fa-dribbble {
  @include iconCircleBorder(#D97AB0);
}

.fa-pinterest-p {
  @include iconCircleBorder(#CC212C);
}

.contacts {
  @extend %flex-center;
  margin-bottom: 70px;
}

.contact {
  text-align: center;

  &:not(:last-child) {
    &:after {
      content: '/';
      color: #B9B9B9;
    }
  }
}

.contact__link {
  text-decoration: none;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #B9B9B9;

  padding: 5px;
}

@media(max-width: 768px) {
  .get__in__touch{
    margin-top: 57px;
  }

  .contacts {
    margin-bottom: 56px;
  }

  .contact__link {
    font-size: 14px;
    line-height: 24px;
  }
}

@media (max-width: 320px) {
  .get__in__touch{
    font-size: 14px;
    line-height: 22px;
    margin-top: 38px;
    margin-bottom: 8px;
  }

  .footer__description {
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 26px;
  }

  .contacts {
    display: flex;
    flex-direction: column;
    margin-bottom: 47px;
  }
}