.menu {
  @extend %flex-center;
  margin-top: 45px;
  margin-bottom: 51px;
}

.menu__item {
  margin-right: 68px;

  &:last-child {
    margin-right: 0;
  }
}

.menu__link {
  font-weight: 400;
  font-size: 11px;
  line-height: 25px;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  text-decoration: none;
  color: #4E4E4E;

  &--active {
    color: #57A4A4;
  }
}

.header__img {
  width: 100%;
}

@media (max-width: 768px) {
  .menu {
    margin-top: 41px;
    margin-bottom: 45px;
  }

  .menu__item {
    margin-right: 34px;
  }

  .menu__link {
    font-weight: normal;
    font-size: 11px;
    line-height: 22px;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    color: #4E4E4E;

    &--active {
      color: #57A4A4;
    }
  }
}

@media (max-width: 320px) {
  .menu {
    display: block;
    position: absolute;
    margin: 0;
    background: rgb(245, 246, 246);
    width: 182px;
    box-shadow: 0 4px 2px -2px rgba(36, 36, 36, 0.37);
    transition: all 0.4s ease;
    right: -100%;
  }

  .menu__item:hover {
    width: 100%;
    background: #E5E5E5;
  }

  .menu__link {
    padding: 4.5px 0 1.5px 13px;

    &--active {
      color: #57A4A4;
    }
  }

  .menu.open {
    right: 0;
  }

  .header__img {
    margin-top: 23px;
  }
}
