.shots {
  margin-bottom: 49px;
}

.shots__header {
  display: flex;
  justify-content: space-between;
  padding-top: 47px;
  padding-bottom: 24px;
}

.insta__shots {
  background-color: rgb(247, 247, 247);
}

.insta__link {
  font-weight: 800;
  font-size: 13px;
  line-height: 22px;
  text-transform: uppercase;
  color: #4E4E4E;
  text-decoration: none;
  float: right;

  &:after {
    content: '-';
  }
}

.shots__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

@media (max-width: 768px) {
  .shots__item {
    &:last-child {
      display: none;

    }
  }

  .shots__img {
    width: 196px;
  }
}

@media(max-width: 320px) {
  .shots__header {
    padding-top: 38px;
    padding-bottom: 0;
  }

  .shots__item {
    &:not(:first-child) {
      display: none;
    }
  }

  .insta__link {
    display: none;
  }

  .shots__img {
    width: 270px;
  }
}