.posts {
  padding-top: 66px;
  padding-bottom: 69px;
}

.posts__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.posts__item {
  margin-bottom: 32px;
}

.posts__picture {
  display: flex;
  align-items: center;
}

.posts__img {
  padding-right: 21px;
}

.section__header {
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: #4E4E4E;
  margin-top: 0;
  margin-bottom: 24px;

  &:before {
    content: '-';
  }
}

.posts__title {
  font-weight: 800;
  font-size: 16px;
  line-height: 30px;
  color: #4E4E4E;
}

.posts__about {
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: #7C7C7C;
}

.posts__description {
  font-size: 14px;
  line-height: 26px;
  color: #5C5C5C;
}

@media (max-width: 768px) {
  .posts {
    padding-top: 56px;
    padding-bottom: 60px;
  }
  .posts__list {
    grid-template-columns: 1fr;

  }
}

@media (max-width: 320px) {
  .posts {
    padding-top: 38px;
    padding-bottom: 10px;
  }

  .posts__item {
    margin-bottom: 29px;
    &:last-child {
      display: none;
    }
  }

  .posts__picture {
    display: inline-block;
  }

  .section__header{
    font-size: 14px;
    line-height: 22px;
  }

  .posts__title{
    margin: 11px 0 0 0;
    font-size: 14px;
    line-height: 30px;
  }

  .posts__about{
    font-size: 11px;
    line-height: 20px;
  }
}