@charset "UTF-8";
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

a {
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "“" "”" "‘" "’";
}

q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

.contacts, .social__icons, .page__footer, .menu {
  display: flex;
  justify-content: center;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .container {
    max-width: 608px;
  }
}
@media (max-width: 320px) {
  .container {
    max-width: 270px;
    position: relative;
  }
}

@media (max-width: 320px) {
  .burger__menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 37px;
    cursor: pointer;
    margin: 23px 0 0 auto;
    background-color: black;
  }
  .burger__menu span, .burger__menu::before, .burger__menu::after {
    width: 17px;
    height: 2px;
    background: #fff;
    transition: all 0.5s ease-in-out;
    position: absolute;
    margin: 0 auto;
  }
  .burger__menu::before, .burger__menu::after {
    content: "";
  }
  .burger__menu::before {
    transform: translateY(-4px);
  }
  .burger__menu::after {
    transform: translateY(4px);
  }

  .burger__menu.open span {
    opacity: 0;
    transition: 0.5s;
  }
  .burger__menu.open::before {
    transform: rotate(-45deg);
  }
  .burger__menu.open::after {
    transform: rotate(45deg);
  }
}
.menu {
  margin-top: 45px;
  margin-bottom: 51px;
}

.menu__item {
  margin-right: 68px;
}
.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  font-weight: 400;
  font-size: 11px;
  line-height: 25px;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  text-decoration: none;
  color: #4E4E4E;
}
.menu__link--active {
  color: #57A4A4;
}

.header__img {
  width: 100%;
}

@media (max-width: 768px) {
  .menu {
    margin-top: 41px;
    margin-bottom: 45px;
  }

  .menu__item {
    margin-right: 34px;
  }

  .menu__link {
    font-weight: normal;
    font-size: 11px;
    line-height: 22px;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    color: #4E4E4E;
  }
  .menu__link--active {
    color: #57A4A4;
  }
}
@media (max-width: 320px) {
  .menu {
    display: block;
    position: absolute;
    margin: 0;
    background: #f5f6f6;
    width: 182px;
    box-shadow: 0 4px 2px -2px rgba(36, 36, 36, 0.37);
    transition: all 0.4s ease;
    right: -100%;
  }

  .menu__item:hover {
    width: 100%;
    background: #E5E5E5;
  }

  .menu__link {
    padding: 4.5px 0 1.5px 13px;
  }
  .menu__link--active {
    color: #57A4A4;
  }

  .menu.open {
    right: 0;
  }

  .header__img {
    margin-top: 23px;
  }
}
.posts {
  padding-top: 66px;
  padding-bottom: 69px;
}

.posts__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.posts__item {
  margin-bottom: 32px;
}

.posts__picture {
  display: flex;
  align-items: center;
}

.posts__img {
  padding-right: 21px;
}

.section__header {
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: #4E4E4E;
  margin-top: 0;
  margin-bottom: 24px;
}
.section__header:before {
  content: "-";
}

.posts__title {
  font-weight: 800;
  font-size: 16px;
  line-height: 30px;
  color: #4E4E4E;
}

.posts__about {
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: #7C7C7C;
}

.posts__description {
  font-size: 14px;
  line-height: 26px;
  color: #5C5C5C;
}

@media (max-width: 768px) {
  .posts {
    padding-top: 56px;
    padding-bottom: 60px;
  }

  .posts__list {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 320px) {
  .posts {
    padding-top: 38px;
    padding-bottom: 10px;
  }

  .posts__item {
    margin-bottom: 29px;
  }
  .posts__item:last-child {
    display: none;
  }

  .posts__picture {
    display: inline-block;
  }

  .section__header {
    font-size: 14px;
    line-height: 22px;
  }

  .posts__title {
    margin: 11px 0 0 0;
    font-size: 14px;
    line-height: 30px;
  }

  .posts__about {
    font-size: 11px;
    line-height: 20px;
  }
}
.shots {
  margin-bottom: 49px;
}

.shots__header {
  display: flex;
  justify-content: space-between;
  padding-top: 47px;
  padding-bottom: 24px;
}

.insta__shots {
  background-color: #f7f7f7;
}

.insta__link {
  font-weight: 800;
  font-size: 13px;
  line-height: 22px;
  text-transform: uppercase;
  color: #4E4E4E;
  text-decoration: none;
  float: right;
}
.insta__link:after {
  content: "-";
}

.shots__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

@media (max-width: 768px) {
  .shots__item:last-child {
    display: none;
  }

  .shots__img {
    width: 196px;
  }
}
@media (max-width: 320px) {
  .shots__header {
    padding-top: 38px;
    padding-bottom: 0;
  }

  .shots__item:not(:first-child) {
    display: none;
  }

  .insta__link {
    display: none;
  }

  .shots__img {
    width: 270px;
  }
}
.page__footer {
  width: 100%;
  flex-direction: column;
  background-color: #000;
}

.get__in__touch {
  margin-top: 66px;
  margin-bottom: 22px;
  font-weight: 800;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  color: #FEFEFE;
}
.get__in__touch:after, .get__in__touch:before {
  content: " - ";
}

.footer__description {
  display: block;
  max-width: 684px;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #B9B9B9;
  margin-bottom: 37px;
}

.social__icons {
  margin-bottom: 34px;
}

.social__item {
  margin-right: 6px;
}
.social__item:last-child {
  margin-right: 0;
}

.fa-rss {
  color: #F8902E;
  border: 2px solid #F8902E;
  padding: 12px;
  border-radius: 50%;
}

.fa-facebook-f {
  color: #39599F;
  border: 2px solid #39599F;
  padding: 12px;
  border-radius: 50%;
}

.fa-twitter {
  color: #45B0E3;
  border: 2px solid #45B0E3;
  padding: 12px;
  border-radius: 50%;
}

.fa-dribbble {
  color: #D97AB0;
  border: 2px solid #D97AB0;
  padding: 12px;
  border-radius: 50%;
}

.fa-pinterest-p {
  color: #CC212C;
  border: 2px solid #CC212C;
  padding: 12px;
  border-radius: 50%;
}

.contacts {
  margin-bottom: 70px;
}

.contact {
  text-align: center;
}
.contact:not(:last-child):after {
  content: "/";
  color: #B9B9B9;
}

.contact__link {
  text-decoration: none;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #B9B9B9;
  padding: 5px;
}

@media (max-width: 768px) {
  .get__in__touch {
    margin-top: 57px;
  }

  .contacts {
    margin-bottom: 56px;
  }

  .contact__link {
    font-size: 14px;
    line-height: 24px;
  }
}
@media (max-width: 320px) {
  .get__in__touch {
    font-size: 14px;
    line-height: 22px;
    margin-top: 38px;
    margin-bottom: 8px;
  }

  .footer__description {
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 26px;
  }

  .contacts {
    display: flex;
    flex-direction: column;
    margin-bottom: 47px;
  }
}

/*# sourceMappingURL=style.css.map */
